body {
    margin: 0;
    font-family: "Rokkitt", Arial;
    min-width: 320px;
    font-size: 9px;
    background: lightblue;
}

header {
    position: relative;
    background-color:lightblue;
    text-align: center;
    margin-bottom: 10px;
}

.centered-block {
    position: absolute;
    /* display: inline-block; */
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header .header-inside {
    background-image: url('/assets/Untitled.jpg');
    background-size: cover;
    width: 100%;
    opacity: 0.5;
    padding-top: 25%;
}

header .description {
    top: 50%;
    font-size: 2vw;
    color: #ffffff;
    font-family: "Quicksand";
    text-align: center;
}

.movies-wrapper {
    margin: 0 10px;
}

.movies-wrapper .movie {
    position: relative;
    display: flex;
    width: 100%;
}

.movies-wrapper .movie .movie-cell {
    position: relative;
    /* display: inline-block; */
    overflow-y: auto;
    text-align: left;
    height: 40px;
    border: 1px solid gray;
    margin:-1px 0 0 -1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.movies-wrapper .movie .title {
    width: 25%;
}

.movies-wrapper .movie .actors {
    width: 51%;
}

.movies-wrapper .movie .format {
    width: 12%;
}

.movies-wrapper .movie .year {
    width: 12%;
}

.movies-wrapper .movie .movie-cell p {
    margin-top: 2px; 
    margin-left: 5px;
    margin-right: 2px;
}

/*Custom selector*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    display: flex;
}
  /* Remove IE arrow */
select::-ms-expand {
    display: none;
}
  /* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 30%;
    height: 100%;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
  /* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
  /* Transition */
.select:hover::after {
    color: #f39c12;
}
<<<<<<< HEAD

.action-bar {
    height: 3em;
    margin: 0 14px 0 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

=======

.action-bar {
    height: 3em;
    margin: 0 14px 0 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
button {
    color: #fff;
    background: #34495e;
    width: 20%;
    border-radius: .25em;
    border: none;
    cursor: pointer;
<<<<<<< HEAD
    margin: 1;
=======
>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
}

.action-bar input {
    width: 50%;
    border: none;
    padding: 10px;
}

.action-bar .action {
    width: 30%;
    height: 100%;
    text-align: left;
    background: #2c3e50;
    color: #fff;
    font-size: 10px;
<<<<<<< HEAD
    border-radius: 3px;
=======
>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
}

.action-bar .action p {
    margin-left: 5px;
}

@media (max-width: 480px) {
    body {
        font-size: 8px;
    }
<<<<<<< HEAD

    form {
        font-size: 8px;
    }
=======
>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
}

@media (min-width: 960px) {
    body {
        font-size: 12px;
    }
<<<<<<< HEAD

    form {
        font-size: 12px;
    }
=======
>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
}

/*FORM*/
form {
    background: rgba(40, 65, 80, 0.7);
<<<<<<< HEAD
    padding: 30px;
    width: auto;
    margin: 0 14px 10px 10px;
    height: 160px;
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 9px;
=======
    padding: 40px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;

>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
}

form input {
    display: block;
    width: 100%;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-family: sans-serif;
    font-size: 16px;
<<<<<<< HEAD
    padding: 5px 0;
=======
    padding: 10px 0;
>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
    transition: border 0.5s;
    outline: none;
    color: #ffffff;
}

form input[type=submit], input[type=button] {
    display: inline;
    border: none;
<<<<<<< HEAD
    width: 100px;
=======
    width: 120px;
>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
    background: white;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

form input[type=submit]:hover, input[type=button]:hover {
    color: #ffffff;
    background-color: black;
}

form h2 {
    color: white;
}

form a {
    color: #ffad57;
    text-decoration: blink;
}

form a:hover {
    color: skyblue;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
<<<<<<< HEAD
=======
}

::placeholder {
    color: aliceblue;
    opacity: 0.7;
>>>>>>> 36ae8eae91abd3c1fb42a809221de6c88d2f6a53
}

::placeholder {
    color: aliceblue;
    opacity: 0.7;
}

.format-selector {
    height: 3em;
    width: 100%;
}